services:
  mongodb:
    image: mongo:5.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - sp_network
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/data:/app/data
      - ./backend/src/modules/api/content:/app/src/modules/api/content
    depends_on:
      mongodb:
        condition: service_healthy 
    
    networks:
      - sp_network
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4G
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - sp_network
volumes:
  mongo_data:
  
networks:
  sp_network:
    driver: bridge