
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3001:3001"
    env_file:
    - ./backend/.env
    depends_on:
    - mongodb
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend
    image: site:latest
    ports:
      - "80:80" # Você acessará o site por http://localhost
    depends_on:
      - backend

volumes:
  mongo_data: