.auth-container {
    position: absolute;
    top: 0rem;
    max-width: 500px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s ease;
    overflow: hidden;
}

/* ===== 3D CARD ===== */
.card-3d-wrap {
    width: 50%;
    height: 100%;
    perspective: 1200px;

    @media screen {
        width: 100%;
    }
}

.card-3d-wrapper {
    width: 100%;
    height: 85%;
    position: relative;
    transform-origin: center center;
    transform-style: preserve-3d;
    transition: transform 0.9s cubic-bezier(0.65, 0, 0.35, 1);
}

/* MOBILE: flip vertical */
.card-3d-wrapper.rotate {
    transform: rotateX(180deg);
}

/* DESKTOP: flip horizontal */
@media (min-width: 768px) {
    .card-3d-wrapper.rotate {
        transform: rotateY(180deg);
    }
}

/* ===== FACES ===== */
.card-face {
    position: absolute;
    inset: 0;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    padding: 2rem;
    color: white;
}

.card-front {
    background: #1A5824;
}

.card-back {
    background: var(--color-primary);
    transform: rotateX(180deg);
}

@media (min-width: 768px) {
    .card-back {
        transform: rotateY(180deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
}