</div> <footer class="bg-[#174E36] border-t border-[#0A290F] p-4 text-center text-[#EBFAED] text-sm">
        &copy; 2024 CODATA - Sistema Interno da Coordenadoria de Tecnologia e Dados
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>