<aside class="w-64 bg-[#1b5c40] text-[#EBFAED] hidden md:flex flex-col shadow-xl">
    <div class="p-4 border-b border-[#0A290F] flex flex-row items-center gap-12">
        <span>
            <h2 class="text-xl font-bold tracking-wider">CODATA</h2>
            <p class="text-xs text-[#ADEBB7] mt-1 uppercase">Gestão Pública</p>
        </span>
        <span>
            <img src="<%= user.avatar || '/images/avatars/admin-avatar.svg' %>" alt="avatar-admin-user" class="rounded-full mt-4 mx-auto border-2 border-green-950 object-cover">
        </span>
    </div>
    <nav class="flex-1 mt-4 px-4 space-y-2">
        <a href="/admin/dashboard-view" class="flex items-center p-3 rounded-lg hover:bg-[#0F3D17] transition">
            <i class="fas fa-chart-line w-6"></i> Dashboard
        </a>
        <a href="/admin/users-view" class="flex items-center p-3 rounded-lg hover:bg-[#0F3D17] transition">
            <i class="fas fa-users w-6"></i> Usuários
        </a>
        <a href="/admin/monitor-view" class="flex items-center p-3 rounded-lg hover:bg-[#0F3D17] transition">
            <i class="fas fa-server w-6"></i> Monitor API
        </a>
        <a href="/admin/docs" class="flex items-center p-3 rounded-lg hover:bg-[#0F3D17] transition">
            <i class="fas fa-book w-6"></i> Documentação
        </a>
    </nav>
    <div class="p-4 border-t border-[#0A290F]">
        <a href="/admin/logout" class="flex items-center p-3 text-red-400 hover:bg-red-900/20 rounded-lg transition">
            <i class="fas fa-sign-out-alt w-6"></i> Sair
        </a>
    </div>
</aside>