.accordion__item {
  position: relative;
  height: 560.99px;
  width: 97.11px;

  background-color: #42947D;
  border-radius: 20px;

  flex-shrink: 0;
  cursor: pointer;

  transition:
    width 0.6s cubic-bezier(0.65, 0, 0.35, 1),
    background-color 0.4s ease;
}

.accordion__item.is-active {
  width: 45rem;
  background-color: #52B69A;
}

.accordion__content {
  height: 100%;
  width: 100%;

  padding: 2rem;

  opacity: 0;
  overflow-y: auto;

  transition: opacity 0.3s ease;
}

.accordion__item.is-active .accordion__content {
  opacity: 1;
}

.accordion__content::-webkit-scrollbar {
  width: 6px;
}

.accordion__content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .accordion__item {
    width: 100%;
    height: auto;
  }

  .accordion__item.is-active {
    width: 100%;
  }
}